<nav class="navbar px-4 navbar-expand-lg navbar-dark bg-dark">
  <!-- Logo -->
  <a class="navbar-brand d-flex align-items-center" routerLink="/home" (click)="closeMenu()">
    <img src="assets/images/logo.webp" alt="Logo" class="rounded-circle shadow me-2" width="50" height="50" />
    <span class="fw-bold text-light d-none d-md-inline">Dashboard</span>
  </a>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Content -->
<div class="collapse navbar-collapse justify-content-end gap-4 fs-5"
     [class.show]="isMenuOpen" id="navbarNav">


    <ul class="navbar-nav me-auto gap-3">
      <li class="nav-item my-2" *ngFor="let link of navLinks">
        <a class="nav-link"
           [routerLink]="link.path"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           (click)="closeMenu()">
          {{ link.label }}
        </a>
      </li>
    </ul>

    <button class="btn btn-outline-warning" (click)="LogOut()">
      <i class="bi bi-box-arrow-left me-2"></i> Log Out
    </button>
  </div>
</nav>
