<nav class="navbar px-5 justify-content-between navbar-expand-lg navbar-dark bg-dark">
  <img routerLink="/home" class="m-3 rounded-circle shadow" src="assets/images/logo.webp" width="60" height="60" />
<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>


  <div class="collapse navbar-collapse justify-content-end gap-5 fs-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto gap-4">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Address </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/jobs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/depts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Departments</a>
      </li>
       
    </ul>
    <button class="btn btn-outline-warning my-2 my-sm-0" (click)="LogOut()"><i
      class="bi bi-box-arrow-left mx-2"></i> Log Out</button>
  </div>
 

</nav>