<!-- Modal -->
<div class="modal fade" id="addAdressModal" tabindex="-1" aria-labelledby="addAdressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0 rounded-4 shadow-sm">
            <div class="modal-header d-flex justify-content-between bg-dark text-white">
                <h5 class="modal-title" id="addAdressModalLabel">
                    {{ form.get('Id')?.value ? 'Edit Address' : 'Add Address' }}
                </h5>
                <button type="button" class="btn-close bg-light" aria-label="Close" (click)="cancel()"></button>
            </div>
            <div class="modal-body bg-dark text-white">
                <form [formGroup]="form" (ngSubmit)="save()">
                    <!-- Full Name -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="fullName" class="form-label">Full Name *</label>
                            <input type="text" class="" id="fullName" formControlName="FullName"
                                [class.is-invalid]="form.get('FullName')?.invalid && form.get('FullName')?.touched">
                            @if (form.get('FullName')?.invalid && form.get('FullName')?.touched) {
                            <div class="invalid-feedback">
                                @if (form.get('FullName')?.errors?.['required']) {
                                <div>Full Name is required</div>
                                }
                                @if (form.get('FullName')?.errors?.['minlength']) {
                                <div>Full Name must be at least 2 characters</div>
                                }
                            </div>
                            }
                        </div>
                        <!-- Email -->
                        <div class="col-md-4">
                            <label for="email" class="form-label">Email *</label>
                            <input type="email" class="" id="email" formControlName="Email"
                                [class.is-invalid]="form.get('Email')?.invalid && form.get('Email')?.touched">
                            @if (form.get('Email')?.invalid && form.get('Email')?.touched) {
                            <div class="invalid-feedback">
                                @if (form.get('Email')?.errors?.['required']) {
                                <div>Email is required</div>
                                }
                                @if (form.get('Email')?.errors?.['email']) {
                                <div>Please enter a valid email address</div>
                                }
                            </div>
                            }
                        </div>
                        <!-- Mobile Number  -->
                        <div class="col-md-4">
                            <label for="mobileNumber" class="form-label">Mobile Number *</label>
                            <input type="tel" class="" id="mobileNumber" formControlName="MobileNumber"
                                [class.is-invalid]="form.get('MobileNumber')?.invalid && form.get('MobileNumber')?.touched">
                            @if (form.get('MobileNumber')?.invalid && form.get('MobileNumber')?.touched) {
                            <div class="invalid-feedback">
                                @if (form.get('MobileNumber')?.errors?.['required']) {
                                <div>Mobile Number is required</div>
                                }
                                @if (form.get('MobileNumber')?.errors?.['pattern']) {
                                <div>Please enter a valid mobile number</div>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <!--  Date of Birth & Job & Department  -->
                    <div class="row d-flex align-items-center mb-3">
                        <div class="col-md-4">
                            <mat-form-field class="w-100">
                                <mat-label class="text-white">Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="DateOfBirth"
                                    placeholder="Choose a date">
                                <mat-datepicker-toggle matIconSuffix [for]="picker">
                                    <i class="bi bi-caret-down"></i>
                                </mat-datepicker-toggle>
                                <mat-datepicker class="text-white" #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <label for="job" class="form-label">Job *</label>
                            <ng-select formControlName="JobId" placeholder="Select Job"
                                [ngClass]="{'is-invalid': form.get('JobId')?.invalid && form.get('JobId')?.touched}">
                                <ng-option *ngFor="let job of jobs" [value]="job.Id">
                                    {{ job.Name }}
                                </ng-option>
                            </ng-select>
                            @if (form.get('JobId')?.invalid && form.get('JobId')?.touched) {
                            <div class="invalid-feedback d-block">
                                Job selection is required
                            </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <label for="department" class="form-label">Department *</label>
                            <ng-select id="department" [items]="departments" bindLabel="Name" bindValue="Id"
                                formControlName="DepartmentId" placeholder="Select Department"
                                [ngClass]="{'is-invalid': form.get('DepartmentId')?.invalid && form.get('DepartmentId')?.touched}">
                            </ng-select>
                            @if (form.get('DepartmentId')?.invalid && form.get('DepartmentId')?.touched) {
                            <div class="invalid-feedback d-block">
                                Department selection is required
                            </div>
                            }
                        </div>
                    </div>
                    <!-- Address Line & Password & Photo-->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="addressLine" class="form-label">Address Line *</label>
                            <input class="" id="addressLine" formControlName="AddressLine"
                                [class.is-invalid]="form.get('AddressLine')?.invalid && form.get('AddressLine')?.touched">
                            @if (form.get('AddressLine')?.invalid && form.get('AddressLine')?.touched) {
                            <div class="invalid-feedback">
                                @if (form.get('AddressLine')?.errors?.['required']) {
                                <div>Address Line is required</div>
                                }
                                @if (form.get('AddressLine')?.errors?.['minlength']) {
                                <div>Address Line must be at least 5 characters</div>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-md-4 position-relative password-container">
                            <label for="password" class="form-label">Password *</label>
                            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="Password"
                                [class.is-invalid]="form.get('Password')?.invalid && form.get('Password')?.touched" />
                            <i class="bi fw-bold fs-4 m-3 eye-icon" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                                (click)="togglePassword()"></i>
                            @if (form.get('Password')?.invalid && form.get('Password')?.touched) {
                            <div class="invalid-feedback">
                                @if (form.get('Password')?.errors?.['required']) {
                                <div>Password is required</div>
                                }
                                @if (form.get('Password')?.errors?.['minlength']) {
                                <div>Password must be at least 6 characters</div>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <label for="photo" class="form-label">Photo URL *</label>
                            <input type="file" class="" id="photo" (change)="onFileSelected($event)"
                                [class.is-invalid]="form.get('Photo')?.invalid && form.get('Photo')?.touched">
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="d-flex justify-content-end gap-3 mt-4 pt-3 border-top">
                        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-info" [disabled]="form.invalid">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>