* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-transform: capitalize;
}

body {
  font-family: "Math", sans-serif;
  background: #101d2c;
  color: #ffffff;
  letter-spacing: 1px;
  transition: background 0.2s ease;
}

.text-primary {
  color: #ffc665 !important;
}

img {
  object-fit: cover;
}

.table-dark {
  --bs-table-border-color: #3292da59 !important;
}

th,
td {
  text-align: center !important;
  padding: 12px !important;
}

.mdc-icon-button {
  background-color: #0dcaf096 !important;
  margin: 5px !important;
}

.mat-mdc-select-trigger {
  color: white !important;
}

.mat-mdc-select-arrow svg {
  color: white !important;
}

.data-container {
  width: 94% !important;
  margin: 20px auto;
}

.opacity {
  opacity: 0.9;
}

.bg-dark {
  background-color: rgb(16 34 55) !important;
}

.table-responsive {
  height: 70vh;
  margin-bottom: 20px;
}

.table-dark {
  --bs-table-color: #fff !important;
  --bs-table-bg: #102237 !important;
}

.table-responsive {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 8px;
}

.table-responsive::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.table-responsive::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 3px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #068ba5d6;
  border-radius: 3px;
  border: 1px solid #2d3748;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #068ba5d6;
  width: 8px;
}

.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: #068ba5d6 #2d3748;
}

.ng-select.ng-select-opened .ng-select-container {
  background: #2d3d4f !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #2d3d4f !important;
}

.ng-select .ng-select-container {
  color: white;
  background: #2d3d4f !important;
  border: none !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #f5faff;
  color: #ffc107 !important;
}

.ng-dropdown-panel {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  padding: 0px 5px;
  background: #2d3d4f;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #fff;
  color: #f8f9fa;
  border-bottom: 1px solid #0dcaf057 !important;
  padding: 8px 10px;
}

.cdk-overlay-container {
  z-index: 1055 !important;
  /* Bootstrap modal default is 1050 */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #2d3d4f !important;
}

.mat-datepicker-content-container {
  background: #2d3d4f !important;
}

/* Change the day numbers text color */
.mat-calendar-body-cell-content {
  color: #ff6600;
  /* your desired color */
}

/* Change the month/year label color in header */
.mat-calendar-period-button,
.mat-calendar-previous-button,
.mat-calendar-next-button {
  color: #ff6600;
}

/* Change selected date color */
.mat-calendar-body-selected .mat-calendar-body-cell-content {
  color: white;
  /* text color on selected day */
  background-color: #ff6600;
  /* selected background */
}

/* Change today's date color */
.mat-calendar-body-today:not(.mat-calendar-body-selected) .mat-calendar-body-cell-content {
  color: #00aa00;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #fff !important;
}

.mat-calendar-table-header th {
  color: #fff !important;
}

.mat-calendar-body-label {
  color: #fff !important;
}

.mat-calendar-body-cell-content {
  color: #fff !important;
}

.mat-calendar-period-button,
.mat-calendar-previous-button,
.mat-calendar-next-button {
  color: #fff !important;
}

.mat-calendar-arrow {
  fill: #fff !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #fff !important;
  background-color: #ebf5ff;
}

tr {
  vertical-align: middle !important;
}


.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  color: white !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding: 5px !important;
  border: none !important;
  ;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {

  display: none !important;
}

.mat-date-range-input-inner {

  color: #fff !important;

}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding: 5px !important;
    border: 1px solid rgba(255, 255, 255, 0.32) !important;
}