<!-- Loader -->
@if (IsSpinner) {
<app-loader></app-loader>
} @else {
<div class="data-container">
  <h2 class="text-primary my-3">Addresses</h2>
  <!-- Search Inputs -->
  <div class="row mb-3 g-2 align-items-center">
    <!-- Main Search -->
    <div class="col-12 col-sm-4 col-md-4">
      <div class="position-relative">
        <input type="text" placeholder="Search Addresses..." [(ngModel)]="searchTerm" (input)="onSearch()"
          class="form-control" />
        <i class="bi bi-search fw-bold fs-4 position-absolute top-50 end-0 translate-middle-y pe-3"></i>
      </div>
    </div>
    <!-- Date Range Search -->
    <div class="col-12 col-sm-5 col-md-4 d-flex gap-2 flex-wrap">
      <div class="flex-grow-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate" (dateChange)="onSearch()">
            <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="onSearch()">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-danger w-100" (click)="clearDateFilter()">Clear</button>
      </div>
    </div>
    <!-- Buttons -->
    <div class="col-12 col-sm-3 col-md-4 d-flex flex-wrap justify-content-end gap-2">
      <button class="btn btn-success d-flex align-items-center gap-1" (click)="ExportDataExcel()">
        <i class="bi bi-file-earmark-spreadsheet"></i> Export Excel
      </button>
      <button class="btn btn-outline-info d-flex align-items-center gap-1" (click)="openModal()">
        <i class="bi bi-plus-lg"></i> Add Address
      </button>
    </div>
  </div>
  <!-- Table -->
  <div class="table-responsive custom-scrollbar mt-4">
    <table class="table table-dark mx-auto">
      <thead>
        <tr>
          <th>#</th>
          <th>Images</th>
          <th>Full Name</th>
          <th>Address Line</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Age</th>
          <th>Job</th>
          <th>Department</th>
          <th>Date</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (address of pagedAddresss; track trackByAddressId($index, address)) {
        <tr>
          <td>{{ address.Id }}</td>
          <td>
            <img *ngIf="address.Photo" [src]="environment + address.Photo" alt="Image" width="40" height="40"
              class="rounded-circle" />
            @if (!address.Photo) {
            <span class="text-muted">No Image</span>
            }
          </td>
          <td>{{ address.FullName }}</td>
          <td>{{ address.AddressLine }}</td>
          <td>{{ address.Email }}</td>
          <td>{{ address.MobileNumber }}</td>
          <td>{{ address.Age }}</td>
          <td>{{ address.Job?.Name }}</td>
          <td>{{ address.Department?.Name }}</td>
          <td>{{ address.DateOfBirth | date: 'yyyy-MM-dd' }}</td>
          <td class="text-end">
            <div class="d-flex flex-wrap gap-2"><button class="btn btn-sm btn-outline-secondary mx-1 iconButton"
                matTooltip="Edit" (click)="openModal(address)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger mx-1 iconButton" matTooltip="Delete"
                (click)="deleteAddress(address.Id)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="11" class="text-center">
            No Addresses Found
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <!-- Material Paginator -->
  <mat-paginator class="bg-dark text-white" [length]="totalCount" [pageSize]="pageSize" [pageIndex]="currentPage"
    [pageSizeOptions]="[10, 20, 50]" (page)="onPageChange($event)">
  </mat-paginator>
</div>
}
<!-- Add Address Modal -->
@if(IsaddAddress) {
<app-add-address [AdressData]="currentAddress" (onCancel)="handleCancel($event)"></app-add-address>
}