<table class="table table-dark mx-auto my-5">
  <thead>
    <tr>
      <th scope="col" class="opacity">#</th>
      <th scope="col" class="opacity">full Name</th>
      <th scope="col" class="opacity">Job Title</th>
      <th scope="col" class="opacity">Department</th>
      <th scope="col" class="opacity">Mobile Number</th>
      <th scope="col" class="opacity">Date of Birth</th>
      <th scope="col" class="opacity">Address</th>
      <th scope="col" class="opacity">Email</th>
      <th scope="col" class="opacity">Password</th>
      <th scope="col" class="opacity">Photo</th>
      <th scope="col" class="opacity">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otto</td>
      <td>Developer</td>
      <td>IT</td>
      <td>+201234567890</td>
      <td>1990-05-15</td>
      <td>123 Nile Street, Cairo</td>
      <td>mark.ottoexample.com</td>
      <td>••••••••</td>
      <td><img src="https://via.placeholder.com/50" alt="Photo"></td>
      <td>33</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob Thornton</td>
      <td>Manager</td>
      <td>HR</td>
      <td>+201112223344</td>
      <td>1985-11-23</td>
      <td>45 Tahrir Square, Cairo</td>
      <td>jacob.thorntonexample.com</td>
      <td>••••••••</td>
      <td><img src="https://via.placeholder.com/50" alt="Photo"></td>
      <td>38</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry Bird</td>
      <td>Designer</td>
      <td>Marketing</td>
      <td>+201098765432</td>
      <td>1992-07-08</td>
      <td>78 Giza Road, Giza</td>
      <td>larry.birdexample.com</td>
      <td>••••••••</td>
      <td><img src="https://via.placeholder.com/50" alt="Photo"></td>
      <td>31</td>
    </tr>
  </tbody>
</table>
